#task-frontend {
   
    border-radius: 40px;
   
      max-width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
   
    margin: 65px auto;
  
    
      text-align: center;
  
  
    background-color:$box-color;
    box-shadow: 0 0 30px 5px rgb(55, 113, 133);
   
  }
  