
body {
   color:#262a3a ;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background: rgb(31,60,92);
background: linear-gradient(117deg, rgba(31,60,92,1) 0%, rgba(171,175,176,1) 54%, rgba(31,60,92,1) 98%); 
  }
  
 


  
 

  
    
