.title-section{
    margin-top: 20px;
    .p{
         
    font-size: larger;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: $text-color;
    }
   
    
}
.p1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: $text-color;
}